REDIS_HOST=localhost
REDIS_PORT=REDIS_PORT // substitua REDIS_PORT pelo número da porta do Redis

SMTP_HOST=smtp.mailtrap.io // ou seu SMTP server
SMTP_PORT=SMTP_PORT // substitua SMTP_PORT pelo número da porta do SMTP
SMTP_USER=your_username
SMTP_PASS=your_password

EMAIL_ENABLED=true // true ou false para habilitar/desabilitar o envio de emails
